*{
    margin: 0;
    box-sizing: border-box;
    
}
.contenedor{
    display: flex;
    background: rgb(202, 194, 167);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: row;
    
}

@media (max-width: 767px) {
    .contenedor {
      margin-left: 10px;
      padding-left: 0% 10px 10px 10px;
    }
  }
