.dogscontenedorprincipal{
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 767px) {
.dogscontenedorprincipal{
  justify-items:center;
  display: flex;
  flex-direction: column;
  }
}
.selec {
    padding: 10 16px;
    margin-top: 10;
    border: none;
    border-radius: 5rem;
    background: linear-gradient(to right, rgb(45, 45, 212), rgb(229, 69, 96));
    box-shadow: 0 2px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
    color: #f6f0f0;
    transition: background-color 15ms linear,
      box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;
    height: 36px;
    line-height: 2.25rem;
    font-family: cursive, sans-serif;
    letter-spacing: 0.06em;
    text-transform: uppercase;
 
  }
  
  .selec:hover {
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.2),
      0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12);
      background: linear-gradient(to right, rgb(229, 69, 96),  rgb(45, 45, 212));
      
  }

 .value1{
  background-color: #ee5c99;
 }

 .value2{
  background-color: rgb(45, 45, 212);
 }


  @media (max-width: 767px) {
    .selec {
      font-size: 11px;
      font: optional;
      margin-left: 10px;
      margin-top: 10px;
      margin-right: 10px;
      padding: 1% 5% 0%;
    }
  }

  .conteinerNav{
    display: flex;
    width: 25%;
    margin-top: -7%;
    margin-bottom: -10%;
    justify-content: center;
    background-position: center;
    padding: 25% 1px 1px 1px; 
    background-repeat: no-repeat;
    transform:translatex(0px) translatey(-73px);
    background-image: url("../../assets/cartel.png");
   
  }

  @media (max-width: 767px) {
    .conteinerNav {
      padding: 100% 2% 2% 2%;
      margin-top: -20%;
      margin-bottom: -25%;
      width:468px;
      justify-content: center;
      background-repeat: no-repeat;
      transform:translatex(0px) translatey(-62px);
      background-image: url("../../assets/cartel.png");
    }
  }

  .nav{
  text-decoration: none;
  transform: scale(1);
  color: #03103fb2;
  cursor: pointer;
  font-weight: bold;
  font-size: 22px;
  margin: -35% 10% 22% 10%;
  text-shadow: 0 0 .2rem rgba(10, 3, 49, 0.461), 0 0 .1rem rgba(151, 90, 230, 0.461), 0 0 .8rem rgba(0, 0, 0, 0.461);
  transition: text-shadow 0.2s ease-in-out;
  
}

.nav:hover {
  text-decoration: none;
  text-shadow: 0 0 .2rem rgba(22, 18, 45, 0.461), 0 0 .1rem rgba(151, 90, 230, 0.461), 0 0 2rem rgba(12, 0, 0, 0.461);
  color: #ed126d;
  
}
  
  @media (max-width: 767px) {
    .nav {
      font-size: 25px;
      margin: -52% 10% 22% 10%;
    }
  }

  .nef {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2% 10% 10%;
  }
   
  @media (max-width: 767px) {
    .nef {
      font-size: 50px;
      margin-right: 5px;
      margin-top: 5px;
      margin-bottom: auto;
      padding: 5% 1% 5%;
    }
  }

.paginado {
    background-color:transparent;
    display: flex;
    justify-content: center;
    align-items: center; 
    
  }
  .paginado button {
    background-color: #bfb7b7;
    border: .1rem solid #d7b3b3;
    padding: 3px 6px 6px;
  }



  .h1 {
    margin: 2rem 5rem 3rem 7rem;
    text-shadow: 3px 3px 1px rgb(1, 5, 8);
    color: rgb(119, 146, 236);
    font-family: cursive;
    text-align: center;
    font-size: 50px;
    animation: titulo-animacion 3s ease-in-out infinite;
  }
  @keyframes titulo-animacion {
    0% { transform: rotate(0deg); }
    40% { transform: rotate(8deg); }
    100% { transform: rotate(0deg); }
  }
