.contenedorPadre {
    width: 320px;
    max-width: 1200px;
    display: flex;
  }

  @media (max-width: 745px) {
    .contenedorPadre {
      font-size: 10px;
      margin-left: 12px;
    }
  }

  .contenedor {
    box-shadow: 0 2px rgba(rgb(235, 231, 231), rgb(214, 218, 214), rgb(163, 163, 212), alpha);
    width: 300px;
    height: 430px;
    border-radius: 8px;
  
    text-align: center;
    transition: all 0.25s;
    display: flex;
    display: inline-block;
    margin-top: 1rem;

  }
  
  .contenedor:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 745px) {
    .contenedor {
      font-size: 14px;
      margin-left: 10px;
      box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    }
  }
  
  .image {
    width: 300px;
    height: 200px;
    border-radius: 8px;
    margin-top: 5%;
    margin-bottom: 7%;
  }
  
  .div {
    height: 200px;
    width: 300px;
    margin: 0px;
  }
  
  .label {
    font-weight: 900;
    font-size: 16px;
    color: rgb(4, 4, 83);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5), -2px -2px 4px rgba(255,255,255,0.5);
  }
  
  .p {
    padding: 0 10% -2% 10%;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5), -2px -2px 4px rgba(255,255,255,0.5);
    font-size: 16px;
    font-weight: 300;

  }

  @media only screen and (max-width: 600px) {
    /* Estilos para pantallas más pequeñas */
    .label {
      text-shadow: 2px 2px 4px rgba(0,0,0,0.5), -2px -2px 4px rgba(255,255,255,0.5);    
      margin-top: 10px;

    }
     
    .p {
      padding: 0 10% -2% 10%;
      /* Estilos para .p en pantallas más pequeñas */
    }
  }