.containerlanding {
 padding: 15% 30px 50px 50px;
 background-size: cover;
 background-position: center center;
 background-image: url("https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg?auto=compress&cs=tinysrgb&w=600");
}



.containerApp {
  display: flex;
  margin-top: 20px;
  background-color: transparent;
  text-align: center;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

.containerAp {
  display: flex;
  background-color: transparent;
  margin-top: 20%;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

.h1 {
  color: #220404;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 2px 2px 0px #a39595;
}

.btn {
  background-image: linear-gradient(to bottom right, #e74cdc, #4d13c0);
  border: none; /* quitar borde */
  border-radius: 4px; /* redondear esquinas */
  color: #fff; /* color del texto */
  cursor: pointer; /* mostrar cursor al pasar el mouse */
  font-size: 16px; /* tamaño del texto */
  padding: 10px 30px 10px; /* espacio alrededor del texto */
  transition: all 0.3s ease; /* transición suave al pasar el mouse */
  width: 60%;
}

.btn:hover {
  background-image: linear-gradient(to bottom right, #255c97, #3e48a1);
}

  @media (max-width: 767px) {
    .containerlanding {
      font-size: 20px;
      margin: 0%;

      padding: 35% 20px 100px 20px;
    }
    .h1 {
      font-size: 40px;
      margin: 5% 10%;
    }
    .h3 {
      font-size: 20px;
      margin: 10% 5%;
    }
    .btn {
      width: 80%;
    }
  }
 
  .traerperros{
    text-shadow: 2px 2px 0 #280202;
    color: #d7e6f6; /* color del enlace */
    text-decoration: none; /* quitar subrayado */
    transition: all 0.3s ease; /* transición suave al pasar el mouse */
  }