.containerlanding {
 padding: 5% 20px 40px 40px;
 background-size: cover;
 flex-direction: column;
 
}

.containeraAp {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container{
  display: flex;
  flex-direction: column;
 
}

.title{
  font-size: 50px;
  margin: 30px 50px 50px 50px;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  color: #f5efef;
  background-color: #ed930e95;
  box-shadow: 5px 5px 5px #888888;
  text-align: center;
}

.gifDiv {
  flex: 1 1 1 50%;
  display: flex;
  margin: 0 10px 10px 20px 20px;
  margin-top: 0;

  width: 650px;
  height: 450px;
}

.content {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-right: 20px;
}


.conteinerbtn {
  text-align: center;
  font-size: 10px;
}

.button {
  border-color: transparent;
  border: none;
}
.button a {
  background-color: #f99843;
  color: #fff;
  padding: 20px 50px;
  border-radius: 30px;
  font-size: 24px;
  font-weight: bold;
  transition: all 0.3s ease;

}

.button a:hover {
  background-color: #e44f10;
 
}
  @media (max-width: 767px) {
    .containerlanding {
      font-size: 20px;
      margin: 0%;
      padding: 3% 20px 10% auto;
    }
    .title {
      font-size: 40px;
      margin: 0% 20% 40% 10%;
    
    }
  
    .button {
      width: 10%;
      border: none;
      
    }
  }
