.contenedor {
  padding: 2em; /* usa em en lugar de px */
  margin: 0 auto;
  max-width: 800px;
  width: 80%; /* usa % en lugar de px */
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  
}


.contenedor{ 
       
          box-shadow: 0 2px rgba(rgb(235, 231, 231), rgb(214, 218, 214), rgb(163, 163, 212), alpha);
          width: 400px;
          height: 830px;
          margin-bottom: -10%;
          border-radius: 8px;
          text-align: center;
          transition: all 0.25s;
          color:rgba(15, 14, 14, 0.797);
          text-shadow: 2px 2px 4px rgba(0,0,0,0.5), -2px -2px 4px rgba(255,255,255,0.5);
        }
            .contenedor:hover {
              transform: translateY(-15px);
              box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
              
            }
            @media screen and (min-width: 768px) {
              .contenedor {
                padding: 5% 5rem 2rem 5rem;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
                height: 160%;
                border-radius: 8px;
                
              }
            }

    .img {
      width: 100%;
      margin: .7rem 10px 10px 10px;
      background-color: #f5f5f5;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
      border-radius: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      
    }
    
  .h1 {
    font-family: 'Montserrat', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0%;
    text-align: center;
    text-shadow: 2px 2px 2px #333;
    color: black;
    padding: 5px;
    color: #fff;
    font-size: 45px;
  }
  .selec {
    
    border-radius: 2px;
    background-color: transparent;
    transition:  15ms linear;
    box-shadow: 280ms cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 5rem;
    font-family: Roboto, sans-serif;
    font-size: 2rem;
    letter-spacing: .3em;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 9999rem;
    margin-top: 5%;
  }
  
  .label {
    text-align: center; /* para centrar el texto */
    font-weight: bold; /* para aplicar negrita */
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 16px;
  }
  .loading{
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
    
